.portofolio {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: var(--grey);

  .content {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    justify-content: center;
    padding-bottom: 2vh;
  }
}
