.education {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  &-content {
    display: flex;
    flex-flow: column;

    &-school {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;

      img {
        width: 10vw;
      }
      &-text {
        font-size: 20px;
      }
    }
  }
}
