body {
  margin: 0;
}

.nav-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  background-color: burlywood;

  a {
    padding: 0 1vw;
    text-decoration: none;
  }

  .nav-bar-list {
    display: flex;

    a {
      padding: 0 1vw;
      text-decoration: none;
    }
  }
}

.banner {
    display: flex;
    flex-flow: row;
    height: 40vh;

    .banner-left {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: coral;
        flex: 1 1 60%;
    }
    .banner-right {
        background-color: crimson;
        flex: 1 1 40%;
        img {
            border-radius: 50%;
            height: -webkit-fill-available;
        }
    }

}
