body {
  margin: 0;
}

.nav-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  background-color: burlywood;

  a {
    padding: 0 1vw;
    text-decoration: none;
  }

  &-list {
    display: flex;
  }
}

.banner {
  display: flex;
  flex-flow: row;
  height: 40vh;

  &-left {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: coral;
    flex: 1 1 60%;
  }
  &-right {
    background-color: crimson;
    flex: 1 1 40%;
    img {
      border-radius: 50%;
      height: -webkit-fill-available;
    }
  }
}

.about {
  height: 30vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: aqua;
  padding: 0 10vw;
  justify-content: center;

  &-title {
    flex: 1 1 30%;
  }

  &-description {
    display: flex;
    flex-flow: column;

    &-text {
      flex: 1 1 auto;
    }

    &-buttons {
      display: flex;
      flex-flow: row;
      justify-content: center;
      padding-top: 3vh;
      a {
        padding: 0 3vw;
      }
    }
  }
}
.experience {
  background-color: yellow;
  .content {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
   
    .skill {
      padding: 10px;
      min-width: 140px;

      img {
        height: 80px;
        width: auto;
      }
     
      .progress-bar {
        width: 100%;
        background-color: #e0e0e0;
        padding: 3px;
        border-radius: 3px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        &-fill {
          display: block;
          height: 10px;
          background-color: #659cef;
          border-radius: 3px;

          transition: width 500ms ease-in-out;
        }
      }
    }
  }
}
.title {
  font-weight: bold;
  text-align: center;
}

.content {
  text-align: center;
}
