.skills {
  background-color: var(--grey);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  &-content {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;

    &-skill {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      min-width: 140px;

      img {
        height: 8vh;
        width: auto;
      }

      &-progress-bar {
        width: 100%;
        padding: 1px;
        margin-top: 2vh;
        border-radius: 3px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        background-color: var(--black);

        &-fill {
          display: block;
          height: 10px;
          border-radius: 4px;
          background-color: var(--primary);
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .skills-content-skill {
    min-width: 65px;
  }
}
