.skills {
  background-color: var(--grey);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  &-content {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;

    &-skill {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      min-width: 140px;

      img {
        height: 8vh;
        width: auto;
      }

      &-progress-bar {
        width: 100%;
        background-color: var(--primary);
        padding: 1px;
        margin-top: 2vh;
        border-radius: 3px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        &-fill {
          display: block;
          height: 10px;
          background-color: var(--burgundy);
          border-radius: 4px;
          transition: width 500ms ease-in-out;
        }
      }
    }
  }
}
