.about {
  height: 34vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: var(--black);
  justify-content: center;

  .title {
    flex: 1 1 30%;
  }

  &-description {
    display: flex;
    flex-flow: column;

    &-text {
      font-size: 1.2rem;
      flex: 1 1 auto;
    }

    &-buttons {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      padding-top: 3vh;
    }
  }
}
