.about {
  min-height: 34vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: var(--black);
  justify-content: center;

  .title {
    white-space: nowrap;
  }

  &-description {
    display: flex;
    flex-flow: column;
    padding-left: 10%;

    &-text {
      font-size: 1.2rem;
    }

    &-buttons {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      padding-top: 4vh;
    }
  }
}
