.project {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1vh 1vw;
  border-radius: 6px;
  background-color: var(--black);
  margin: 3px;
  flex: 0 1 29%;

  &-image {
    height: 300px;
    width: -webkit-fill-available;
    min-height: 20vh;
    background-size: cover;
    background-position: center;
  }

  &-name {
    color: var(--peach);
    font-size: 1.2rem;
  }
}
