.project {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 29%;
  padding: 1vh 1vw;
  border-radius: 6px;
  margin: 3px;
  background-color: var(--black);

  &-image {
    background-size: cover;
    background-position: center;
    height: 300px;
    min-height: 20vh;
    width: -webkit-fill-available;
  }

  &-name {
    font-size: 1.2rem;
    color: var(--peach);
  }
}
