.project {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 29%;
  padding: 1vh 1vw;
  border-radius: 6px;
  margin: 0.5vh 0.5vw;
  background-color: var(--black);

  &-image {
    background-size: cover;
    background-position: center;
    min-height: 25vh;
    width: -webkit-fill-available;
  }

  &-name {
    padding: 2vh 0;
    font-size: 1.2rem;
    color: var(--peach);
  }
}

@media only screen and (max-width: 768px) {
  .project {
    flex: 1 1 50%;
  }
}
