.contact {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);

  .content {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    padding-bottom: 2vh;

    a {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      &:nth-of-type(1n + 2) {
        margin-left: 6vw;
      }

      &:hover {
        color: var(--burgundy);
      }

      img {
        height: 3vh;
        padding-bottom: 1vh;
      }
    }
  }
}
