.toggle {
  display: flex;
  flex-flow: row;

  input {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    width: 60px;
    height: 30px;
    background-color: var(--black);
    display: block;
    border-radius: 6px;
    position: relative;
    border: 1px groove var(--primary);

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 20px;
      height: 20px;
      background: var(--primary);
      border-radius: 6px;
      transition: 0.3s;
    }
    &:active:after {
      width: 50px;
    }
  }

  input:checked + label {
    background-color: var(--black);
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
}
