.nav-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  background-color: var(--black);

  a {
    padding: 0 1vw;
  }

  &-list {
    display: flex;
  }
}
