.recommendations {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  &-content {
    display: flex;
    flex-flow: column;

    &-recommendation {
      display: flex;
      flex-flow: column;
      border-radius: 4px;
      padding: 2vh 2vw;
      border: 1px groove var(--primary);
      background-color: var(--grey);

      &-text {
        line-height: 2rem;
        font-size: 1.2rem;

        &::after,
        &::before {
          content: '"';
          padding: 0 0.5vw;
          font-size: 1.6rem;
          color: var(--primary);
        }
      }

      &-author {
        align-self: end;
        padding: 1vh 0 2vh;
        font-size: 1rem;
        color: var(--primary);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .recommendations-content-recommendation-text {
    line-height: 1.5rem;
    font-size: 1rem;
  }
}
