.recommendations {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  &-content {
    display: flex;
    flex-flow: column;
    &-recommendation {
      display: flex;
      flex-flow: column;

      &-text {
        font-size: 14px;
      }

      &-author {
        align-self: end;
        font-size: 18px;
      }
    }
  }
}
