.contact-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  &-name {
    min-width: 20vw;
    height: 2vh;
  }
  &-email {
    min-width: 20vw;
    height: 2vh;
  }
  &-textarea {
    min-width: 20vw;
    height: 8vh;
  }
  & * {
    margin-bottom: 1vh;
  }
}
