:root {
  --primary: #ffb633;
  --secondary: #0094c2;
  --white: #ffffff;
  --black: #2c2c2c;
  --grey: #313131;
  --burgundy: #e10032;
  --cream: #f4e6d5;
  --peach: #fcd8a2;
}

body {
  margin: 0;
  color: var(--cream);
  background-color: var(--black);
}
a {
  text-decoration: none;
  color: var(--peach);
}

.title {
  font-weight: bold;
  text-align: center;
}

.content {
  text-align: center;
}
