.banner {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 60vh;
  background: linear-gradient(
    to right,
    var(--grey) 73%,
    var(--primary) 73%,
    var(--primary) 100%
  );

  &-left {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    div {
      padding-bottom: 8px;
    }
    &-name {
      font-size: 50px;
      font-weight: bolder;
      color: var(--primary);
    }
  }
}
