.banner {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background: linear-gradient(
    to right,
    var(--grey) 73%,
    var(--primary) 73%,
    var(--primary) 100%
  );
  height: 60vh;

  &-left {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;

    &-name {
      font-weight: bolder;
      font-size: 3rem;
      color: var(--primary);
    }

    &-sub-name {
      font-size: 1.5rem;
      color: var(--white);
    }

    div:first-of-type {
      font-size: 1.5rem;
    }

    div:nth-of-type(1n + 1) {
      padding-bottom: 2vh;
    }
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    max-height: 40vh;
    div:first-of-type {
      font-size: 1rem;
    }

    div:nth-of-type(1n + 1) {
      padding-bottom: 1.5vh;
    }

    &-left-name {
      font-size: 1.5rem;
    }

    &-left-sub-name {
      font-size: 1rem;
    }
  }
}
